  .config
    position: fixed
    top: 0
    right: 0
    background: #111
    color: #eee
    transform: translateX(300px)
    transition: transform 500ms, background 1000ms
    width: 100%
    max-width: 300px
    height: 100%
    z-index: 999

    a
      position relative
      left: -30px
      background-image: url('/src/img/cog.svg')
      background-size: contain
      background-repeat: no-repeat
      padding: 0 1em



    .wrap
      padding: 1em
      position: relative
      top: -30px

  .active
    background: #333
    transform: translateX(0px)


.box
  border: 1px solid red
  padding: .5em
  width: 100%
