#app(v-bind:class="[theme]" v-bind:style="{ 'font-size': fontSize * 2 + 'px' }")
  h1 Vulnerability checker
  p Upload a <strong>package file</strong> to scan for known vulnerabilities.

  file-upload

  Config(@theme_update="setTheme" @set_font_size="setFontSize")

  footer
    p Powered by 
      a(href="https://debricked.com" target="_blank") debricked
