/*!
 * Spinner
 */
 
.spinner
  display: flex
  align-items: center
  justify-content: center
  // position: absolute
  // top: calc(50%-(50px/2))
  // left: calc(50%-(50px/2))
  position: absolute
  right: 0.4em
  // top: 0
  bottom 1em
  transition: all 700ms
  display: none

  .inner 
    z-index: 99999
    width: 20px
    height: 20px
    animation: spin 1s linear infinite
    background: url('/img/spinner.svg') no-repeat
