#file-upload
  .container
    form#upload(enctype="multipart/form-data" novalidate)
      .dropbox(:class="[dragging ? 'dropzone-over' : '']" @dragenter="dragging=true" @dragleave="dragging=false")
        input(type="file" multiple :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length").input-file
        p(v-if="isInitial") Drag file(s) here, or click to browse
        p(v-if="isSaving") Uploading {{ fileCount }} files...

    #failed(v-if="isFailed")
      h2 Uploaded failed
      p
        a(href="javascript:void(0)" @click="reset()") Try again
      pre {{ uploadError }}
