#app
  h1 Vulnurbility checker
  p Upload a package file & check it according to latest spec.

  file-upload

  Config

  footer
    p Powered by 
      a(href="https://debicked.com" target="_blank") debricked
